*{
    box-sizing: border-box;
    color: black;    
 }

body{
    align-content: center;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

header{
    align-content: center;
	height: 3em;
    margin-bottom: 1em;
    height: 5%;
}

main{
    display: block;
}

.container{
	width: 60%;
	height: 90%;
	margin: 0 auto;
}
#pagina-construcao{
    position: fixed;
    margin-top: 25%;
    margin-left: 40%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}